<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Making</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
    <header id="main">
        <div class="container">
            <div class="top-header flex  wow fadeInLeft" data-wow-delay="0.2s">
                <a href="#">
                    <img class="top-header__logo"  src="img/horizontal_tagline_on_transparent.png" alt="Making Landing" width="2000" height="899">
                </a>

                <p class="top-header__text"><strong>Работаем <span class="uppercase">без предоплаты</span></strong> при оформлении заявки в течение 5 минут</p>

                <div class="timer flex" id="timer">
                        <p class="timer__text"><span id="tM"></span></p>
                        <p>:</p>
                        <p class="timer__text"><span id="tS"></span></p>
                </div>

                <a href="#feedback" class="top-header__btn btn modalbox">Заказать Landing page</a>
            </div>

            <div class="flex top-header-nav wow fadeInRight" data-wow-delay="0.2s">
                <nav class="main-nav">
                    <ul>
                        <li>
                           <a href="#main" class="main-nav__link">Главная</a>
                        </li>
                        <li>
                            <a href="#advantages" class="main-nav__link">Преимущества</a>
                        </li>
                        <li>
                            <a href="#projects" class="main-nav__link">Проекты</a>
                        </li>
                        <li>
                            <a href="#service-package" class="main-nav__link">Тарифы</a>
                        </li>
                        <li>
                            <a href="#contacts" class="main-nav__link">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

            <div class="owl-carousel owl-theme">
                <div class="slide flex wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="slide__text">
                        <h1>Создание продающих Landing Page</h1>
                        <p>Заказы после первого дня запуска сайта!</p>
                        <a href="#feedback" class="slide__btn btn modalbox">Заказать Landing page</a>
                    </div>
                    <div class="slide__img">
                        <img src="img/slide1.png" width="683" height="421" alt="slide 1">
                    </div>
                </div>
                <div class="slide flex">
                        <div class="slide__text"><h1>Создание продающих Landing Page</h1>
                        <p>Уникальный дизайн</p>
                        <a href="#feedback" class="slide__btn btn">Заказать Landing page</a>
                    </div>
                    <div class="slide__img">
                        <img src="img/slide2.png" alt="slide 2" width="605" height="660">
                    </div>
                </div>
                <div class="slide flex">
                    <div class="slide__text"><h1>Создание продающих Landing Page</h1>
                        <p>Продающие тексты</p>
                        <a href="#feedback" class="slide__btn btn">Заказать Landing page</a>
                    </div>
                    <div class="slide__img">
                        <img src="img/slide3.png" alt="slide 3" width="625" height="662">
                    </div>
                </div>
                <div class="slide flex">
                    <div class="slide__text">
                        <h1>Создание продающих Landing Page</h1>
                        <p>Адаптация под все устройства</p>
                        <a href="#feedback" class="slide__btn btn">Заказать Landing page</a>
                    </div>
                    <div class="slide__img">
                        <img src="img/slide4.png" alt="slide 4" width="769" height="477">
                    </div>
                </div>
                <div class="slide flex">
                    <div class="slide__text">
                        <h1>Создание продающих Landing Page</h1>
                        <p>Приобретение новых клиентов, которые останутся с вами надолго!</p>
                        <a href="#feedback" class="slide__btn btn">Заказать Landing page</a>
                    </div>
                    <div class="slide__img">
                        <img src="img/slide5.png" alt="slide 5" width="818" height="610">
                    </div>
                </div>
            </div>
            <img src="img/decor-head.png" class="decor-head" alt="" width="757" height="424">
    </header>

    <main>
        <img src="img/decor-main.png" class="decor-main" alt="" width="756" height="424">
        <div class="container">
            <section class="advantages flex wow zoomInUp" data-wow-offset="200" data-wow-duration="1s"
              id="advantages">
                <div>
                    <img src="img/advantages1.png" alt="advantages 1" width="124" height="72">
                    <p class="advantages__text-top">Успешно работаем</p>
                    <p class="advantages__text">с 2007 года</p>
                </div>
                <div>
                    <img src="img/advantages2.png" alt="advantages 2" width="64" height="57">
                    <p class="advantages__text-top">Более 300 реализованных</p>
                    <p class="advantages__text">проектов</p>
                </div>
                <div>
                    <img src="img/advantages3.png" alt="advantages 3" width="74" height="67">
                    <p class="advantages__text-top">85 % заказчиков</p> 
                    <p class="advantages__text">обращаются повторно</p>
                </div>
                <div>
                    <img src="img/advantages4.png" alt="advantages 4" width="70" height="69">
                    <p class="advantages__text-top">Работаем со всеми</p>
                    <p class="advantages__text">регионами</p>
                </div>

            </section>
        </div>

        <section class="profitable">
            <div class="container">
                <div class="flex profitable__title wow slideInDown" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                    <h2>Почему выгодно работать с нами</h2>
                </div>

                <div class="flex profitable__item">
                    <div class="profitable__item-one wow slideInLeft" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                        <h3 class="profitable__item__title">Что мы делаем</h3>
                        <h4 class="profitable__item__subtitle">Продающие сайты с конверсией от 17 до 43%</h4>
                        <ul>
                            <li><span class="profitable__item__text">Уникальный дизайн</span></li>
                            <li><span class="profitable__item__text">Продающие тексты</span></li>
                            <li><span class="profitable__item__text">Адаптация под все устройства</span></li>
                            <li><span class="profitable__item__text">Размещение в интернете на год</span></li>
                            <li><span class="profitable__item__text">Рекламная кампания в Яндекс-Директ</span></li>
                        </ul>
                    </div>
                    <div class="profitable__item-two wow slideInRight" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                        <h3 class="profitable__item__title">Что вы получаете в итоге</h3>
                        <h4 class="profitable__item__subtitle">Клиенты с первого дня запуска Вашего сайта</h4>
                        <ul>
                            <li><span class="profitable__item__text">Приобретаете новых клиентов, которые остаются с вами надолго</span></li>
                            <li><span class="profitable__item__text">Удобный, функциональный сайт на готовой системе управления</span></li>
                            <li><span class="profitable__item__text">Не тратите время на поиск верных решений. Мы их Вам предоставим!</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <section class="need container">
                <div class="flex need__title wow bounceInLeft" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                    <h2>Когда необходим Landing Page</h2>
                </div>
                <div class="flex need-flex">
                    <div class="need__item">
                        <img src="img/calendar.png" alt="calendar">
                        <div class="wow bounceInRight" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                            <h4 class="need__item__title">Проведение</h4>
                            <p class="need__text">акций и мероприятий</p>
                        </div>
                    </div>
                    <div class="need__item">
                        <img src="img/sale.png" alt="sale">
                        <div class="wow bounceInRight" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                            <h4 class="need__item__title">Продажа</h4>
                            <p class="need__text">уникального продукта</p>
                        </div>
                    </div>
                    <div class="need__item">
                        <img src="img/test.png" alt="test">
                        <div class="wow bounceInRight" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                            <h4 class="need__item__title">Тестирование</h4>
                            <p class="need__text">спроса на новый продукт</p>
                        </div>
                    </div>
                    <div class="need__item">
                        <img src="img/raising.png" alt="raising">
                        <div class="wow bounceInRight" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                            <h4 class="need__item__title">Увеличение</h4>
                            <p class="need__text">узнаваемости бренда</p>
                        </div>
                    </div>
                    <div class="need__item">
                        <img src="img/start.png" alt="start">
                        <div class="wow bounceInRight" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                            <h4 class="need__item__title">Запуск</h4>
                            <p class="need__text">бизнеса уже сегодня</p>
                        </div>
                    </div>
                    <div class="need__item">
                        <img src="img/growth.png" alt="growth">
                        <div class="wow bounceInRight" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                            <h4 class="need__item__title">Повышение</h4>
                            <p class="need__text">продаж на основном сайте</p>
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <section class="application-top wow fadeInRight" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
            
                <p class="application__title">У вас есть продукт (товар, услуга, проект)</p>
                <p class="application__text">и вы хотите, увеличить продажи или повысить
                    узнаваемость? У нас есть для вас решения.
                </p>
                <form id="make_order_form" name="make_order" method="POST" class="form application-top-form">
                    <input type="email" class="email_main" placeholder="Введите ваш e-mail" name="email_main" id="email_main" required=true>
                    <input class="form__btn-top form_btn btn" id="make_order" type="submit" value="Заказать сайт" data-url="{% url 'order_complete' %}">
                    {% csrf_token %}
                </form>
            
        </section>

        <div class="container">
            <section class="container" id="service-package">
                <div class="flex service-package__title wow slideInDown" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                    <h2>Выберите удобный пакет услуг</h2>
                </div>
                <div class="flex service-package">
                    <div class="service-package__item start wow fadeIn" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                        <div class="start-head">
                            <p class="service-package__subtitle">Старт</p>
                            <p class="service-package__text"><span class="service-package--line">15 000 <span class="rub1">руб.</span></span>
                                <span class="service-package--ot">от</span> 9 900 <span class="rub2">руб.</span></p>
                        </div>
                        <ul>
                            <li class="service-package--active">бесплатный прототип</li>
                            <li class="service-package--active">продающие тексты</li>
                            <li class="service-package--active">шаблонный дизайн</li>
                            <li class="service-package--active">верстка под все устройства</li>
                            <li class="service-package--active">программная часть</li>
                            <li class="service-package--inactive">размещение в Интернете на 1 год</li>
                            <li class="service-package--inactive">создание рекламной кампании</li>
                            <li class="service-package--inactive">проведение А/В тестирования</li>
                        </ul>
                        <hr>
                        <div class="service-package__footer">
                            <p>Срок реализации</p>
                            <p class="service-package--bold">до 5 дней</p>
                            <a href="#feedback" class="start__btn service-package__btn modalbox">Заказать</a>
                        </div>
                    </div>
                    <div class="service-package__item premium wow fadeIn" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                        <div class="premium-head">
                            <p class="service-package__subtitle">Премиум</p>
                            <p class="service-package__text"><span class="service-package--line">20 000 <span class="rub1">руб.</span></span>
                                <span class="service-package--ot">от</span> 12 900 <span class="rub2">руб.</span></p>
                        </div>
                        <ul>
                            <li class="service-package--active">бесплатный прототип</li>
                            <li class="service-package--active">продающие тексты</li>
                            <li class="service-package--active">шаблонный дизайн</li>
                            <li class="service-package--active">верстка под все устройства</li>
                            <li class="service-package--active">программная часть</li>
                            <li class="service-package--active">размещение в Интернете на 1 год</li>
                            <li class="service-package--inactive">создание рекламной кампании</li>
                            <li class="service-package--inactive">проведение А/В тестирования</li>
                        </ul>
                        <hr>
                        <div class="service-package__footer">
                            <p>Срок реализации</p>
                            <p class="service-package--bold">до 10 дней</p>
                            <a href="#feedback" class="premium__btn service-package__btn modalbox">Заказать</a>
                        </div>
                    </div>
                    <div class="service-package__item business wow fadeIn" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                        <div class="business-head">
                            <p class="service-package__subtitle">Бизнес</p>
                            <p class="service-package__text"><span class="service-package--line">29 000 <span class="rub1">руб.</span></span>
                                <span class="service-package--ot">от</span> 18 900 <span class="rub2">руб.</span></p>
                        </div>
                        <ul>
                            <li class="service-package--active">бесплатный прототип</li>
                            <li class="service-package--active">продающие тексты</li>
                            <li class="service-package--active">шаблонный дизайн</li>
                            <li class="service-package--active">верстка под все устройства</li>
                            <li class="service-package--active">программная часть</li>
                            <li class="service-package--active">размещение в Интернете на 1 год</li>
                            <li class="service-package--active">создание рекламной кампании</li>
                            <li class="service-package--inactive">проведение А/В тестирования</li>
                        </ul>
                        <hr>
                        <div class="service-package__footer">
                            <p>Срок реализации</p>
                            <p class="service-package--bold">до 15 дней</p>
                            <a href="#feedback" class="business__btn service-package__btn modalbox">Заказать</a>
                        </div>
                    </div>
                    <div class="service-package__item vip wow fadeIn" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                        <div class="vip-head">
                            <p class="service-package__subtitle">Vip</p>
                            <p class="service-package__text"><span class="service-package--line">35 000 <span class="rub1">руб.</span></span> 
                                <span class="service-package--ot">от</span> 25 000 <span class="rub2">руб.</span></p>
                        </div>
                        <ul>
                            <li class="service-package--active">бесплатный прототип</li>
                            <li class="service-package--active">продающие тексты</li>
                            <li class="service-package--active">шаблонный дизайн</li>
                            <li class="service-package--active">верстка под все устройства</li>
                            <li class="service-package--active">программная часть</li>
                            <li class="service-package--active">размещение в Интернете на 1 год</li>
                            <li class="service-package--active">создание рекламной кампании</li>
                            <li class="service-package--active">проведение А/В тестирования</li>
                        </ul>
                        <hr>
                        <div class="service-package__footer">
                            <p>Срок реализации</p>
                            <p class="service-package--bold">до 20 дней</p>
                            <a href="#feedback" class="vip__btn service-package__btn modalbox">Заказать</a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="projects container" id="projects">
                <div class="flex projects__title wow slideInDown" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                    <h2>Реализованные проекты</h2>
                </div>
                <div class="grid">
                    <div class="project__item row-2 wow zoomIn" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                        <a data-fancybox="gallery" href="#ссылка на большую" class="gallery__item">
                            <img src="img/projects1.png" alt="projects 1">
                        </a>
                    </div>
                    <div class="project__item--active project__item wow zoomIn" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                        <a data-fancybox="gallery" data-type="iframe" href="img/biohazard.jpg" class="gallery__item">
                            <span class="external-link"><i class="fas fa-external-link-alt"></i></span>
                            <img src="img/basket.png" class="basket" alt="basket" width="40" height="40">
                            <p class="text-active project__subtitle">&#171;Правильное питание&#187;
                                с доставкой
                            </p>
                            <hr>
                            <p class="project__text text-active"><span class="project-bold">8%</span> конверсия</p>
                            <p class="project__text text-active"><span class="project-bold">245</span> заявок в месяц</p>
                        </a>
                    </div>
                    <div class="project__item wow zoomIn" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                        <a data-fancybox="gallery" data-type="iframe" href="img/preview_site_3.jpg" class="gallery__item">
                            <img src="img/projects3.png" alt="projects 3">
                        </a>
                    </div>
                    <div class="project__item wow zoomIn" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                        <a data-fancybox="gallery" data-type="iframe" href="img/biohazard.jpg" class="gallery__item">
                            <img src= "img/projects4.png" alt="projects 4">
                        </a>
                    </div>
                    <div class="project__item wow zoomIn" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                        <a data-fancybox="gallery" href="img/biohazard.jpg" class="gallery__item">
                            <img src="img/projects5.png" alt="projects 5">
                        </a>
                    </div>
                    <div class="project__item wow zoomIn" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                        <a data-fancybox="gallery" href="#" class="gallery__item">
                            <img src="img/projects6.png" alt="projects 6">
                        </a>
                    </div>
                    <div class="project__item wow zoomIn" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                        <a data-fancybox="gallery" href="#" class="gallery__item">
                            <img src="img/projects7.png" alt="projects 7">
                        </a>
                    </div>
                    <div class="project__item wow zoomIn" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                        <a data-fancybox="gallery" href="#" class="gallery__item">
                            <img src="img/projects8.png" alt="projects 8">
                        </a>
                    </div>
                    <div class="project__item wow zoomIn" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                        <a data-fancybox="gallery" href="#" class="gallery__item">
                            <img src= "img/projects9.png" alt="projects 9">
                        </a>
                    </div>
                    <div class="project__item col-2 wow zoomIn" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
                        <a data-fancybox="gallery" href="#" class="gallery__item">
                            <img src= "img/projects10.png" alt="projects 10">
                        </a>
                    </div>
                </div>
            </section>
        </div>

        <section class="application-bottom wow fadeInRight" data-wow-offset="200" data-wow-delay="0.2s" data-wow-duration="1s">
            
                <p class="application__title-bottom">Результат работы с нами -</p>
                <p class="application__text-bottom">отличный сайт, который приносит Вам новых клиентов <br>
                    и поднимает Ваш бизнес на новый уровень
                </p>
                <form class="form application-bottom-form" id="make_order_form" name="make_order" method="POST">
                    <input type="email" name="email_main" class="email_main2" id="email_main2" placeholder="Введите ваш e-mail" required=true><br>
                    <input id="make_order" class="form__btn-bottom form_btn btn" type="submit" value="Заказать сайт" data-url="{% url 'order_complete' %}">
                    {% csrf_token %}
                </form>
        </section>
    </main>

    <footer id="contacts">
        <div class="container">
            <div class="footer-page flex">
                <div class="footer__logo wow fadeInLeft" data-wow-delay="0.2s">
                    <a href="#">
                        <img class="footer_logo_img" src="img/horizontal_tagline_on_transparent.png" alt="Making Landing" width="2000" height="899">
                    </a>
                </div>
                <div class="footer__contact wow fadeInLeft" data-wow-delay="0.2s"> 
                    <a href="tel:88009252043636">8 800 925 204 36 36</a>
                    <p class="footer__contact--small">Время работы: 8.00 - 20.00</p>
                    <p class="footer__contact__text">г. Москва, ул. Строителей, д.25</p>
                </div>
                <div class="footer__social wow fadeInRight">
                    <ul class="social-list">
                        <li class="social-list__item">
                            <a href="#">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.facebook.com/making.landing.9">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.instagram.com/makinglanding/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.pinterest.ru/makinglanding﻿">
                                <i class="fab fa-pinterest"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.linkedin.com/in/making-landing-16638716b/﻿">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="footer__confidential wow fadeInRight" data-wow-delay="0.2s">
                    <!-- <p>Политика конфиденциальности</p> -->
                    <p class="footer__confidential--small">Все права защищены © 2018</p>
                </div>
            </div>
        </div>
    </footer>
    <div id="feedback"><!-- hidden inline form -->
        <form id="modal_contact" name="contact" method="POST">
            <h2 class="modal__title">Заполните форму</h2>
            <p class="modal__text">мы вышлем бриф для заполнения на вашу почту</p>
            <input type="email" name="email" class="modal__email" id="modal_email" placeholder="Введите ваш e-mail" required=true><br>
            <input id="modal_send" class="modal__btn btn" type="submit" value="Заказать сайт" data-url="{% url 'order_complete' %}">
            {% csrf_token %}
        </form>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/timer2.min.js"></script>
    <script src="js/modal.min.js"></script>
    <script src="js/gallery.min.js"></script>
    <script>
    $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            nav:true,
            items:1,
            navText: ['<i class="fas fa-caret-left"></i>', '<i class="fas fa-caret-right"></i>'],
            responsive:{ 
			0:{
				nav: false,
			},
			600:{
				nav: false,
			},
			1000:{
				items:1
			}
		}
        });
        });
    </script>
    <script>
        new WOW().init();
    </script>
</body>
</html>